{% block subject %}
    {{ 'sylius.email.order_confirmation.name'|trans }}
{% endblock %}

{% block body %}
    {% autoescape %}
        {{ 'sylius.email.order_confirmation.content'|trans({'%number%': order.number }) }}
        <div class="ui padded segment">

            {% include 'SyliusShopBundle:Common/Order:_summary.html.twig' %}


        </div>
    {% endautoescape %}
{% endblock %}
