
<footer class="container-fluid">
    <div class="row">
        <div class="footerDiv col-xs-12 col-md-4">
            <a href="{{ path('sylius_shop_aboutUs') }}">Contact</a>
        </div>
        <div class="footerDiv col-md-offset-4 col-xs-12 col-md-4">
            <a href="{{ path('sylius_shop_generalConditions') }}">Mentions Légales</a>
        </div>
    </div>
    <div class="row text-center">
        <p><small>Réalisé par les élèves de la <a href="{{ 'http://www.wildcodeschool.fr' }}" target="_blank"> Wild Code School.</a></small></p>
    </div>
</footer>