
<!-- CAROUSEL on HomePage -->

<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for product in products %}
            {% if product.preOrder == true or product.new == true or product.promo == true %}
                <!-- Wrapper for slides -->
            <div class="item row">
                <div class="col-xs-4">
                    {% if product.preOrder == true %}
                        <p class="stamp col-xs-10">Pré-commande</p>
                    {% endif %}
                    {% if product.new == true  %}
                        <p class="stamp col-xs-10">Nouveau</p>
                    {% endif %}
                    {% if product.promo == true %}
                        <p class="stamp col-xs-10">Promotion</p>
                    {% endif %}

                    <div class="img-container">
                        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="title-container">
                        <p>
                            <span class="quote">"</span>
                            {{ product.name }}
                            <span class="quote">"</span>
                            <span class="carousel-know-more">
                        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug}) }}">En savoir +</a>
                            </span>
                        {% if product.event is not null %}
                        <p class="carousel_event">
                            {{ product.event }}
                        </p>
                        {% endif %}


                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
















